*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Open Sans', sans-serif;
}

p{
    font-weight: 300;
}

.caja{
    padding: 60px 0;
    width: 90%;
    max-width: 1000px;
    margin: auto;
    overflow: hidden;
}

.titulo{
    color: #642a73;
    font-size: 30px;
    text-align: center;
    margin-bottom: 60px;
}


/* Header */

header{
    width: 100%;
    height: 600px;
    background: #bc4e9c;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, hsla(340, 95%, 50%, 0.459), hsla(317, 45%, 52%, 0.671)), url(../img/portada.jpg);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, hsla(340, 95%, 50%, 0.459), hsla(317, 45%, 52%, 0.671)), url(../img/portada.jpg); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background-size: cover;
    background-attachment: fixed;
    position: relative;

}   

nav{
    text-align: right;
    padding: 30px 50px 0 0;
}

nav a{
    color: white;
    font-weight: 300;
    text-decoration: none;
    margin-right: 10px;
}

nav a:hover{
    text-decoration: underline;
}

.wave{
    position: absolute;
    bottom: 0;
    width: 100%;

}

header .texto-header {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 430px;
    width: 100%;
    color: white;
}

.texto-header h1{
    font-size: 50px;
}

.texto-header h2{
    font-weight: 300;
    font-size: 30px;
}


/* main */


/* Nosotros */

.sobre-nosotros{
    padding-top: 30px;
}

.nosotros{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 15px;
}
.nosotros img{
    width: 100%;
}

.caja-texto p{
    text-align: justify;
    word-spacing: 1px;
    padding: 0 0 30px 15px;
}
.caja-texto h3 span{
    color: white;
    background-color: #4D0686;
    padding: 2px 9px;
    border-radius: 50%;
    box-shadow: 0px 0px 4px 2px rgb(196, 196, 196);
}
.caja-texto h3 {
    margin-bottom: 20px;
}

/* Portafolio */

.portafolio{
    display: inline-block;
    width: 100%;
    background-color: #F2F2F2;
}


.galeria-portafolio{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-template-rows: 48% 45%;
    gap: 8PX;
    justify-content: center;
    margin: 0 8px;
    

}
.imagen-port{
    box-shadow: 0px 0px 5px 1px rgb(155, 155, 155);

}
.imagen-port .img{
    width: 100%;
    height: 100%;
}

.imagen-port .hover{
    display: none;
}


/* Clientes */

.clientes .cards{
    display: flex;
    flex-direction: row;
    color: white;
    justify-content: center;
    gap: 28px;
   
}

.cards .card{
    width: 460px;
    height: 200px;
    display: grid;
    grid-template-columns:repeat(2, auto);
    gap: 30px;
    background-color: #4D0686;
    padding: 0 30px;
    align-items: center;
    border-radius:  5px;
    box-shadow: 0px 0px 6px rgb(119, 119, 119);
}
.clientes .cards img{
    border: solid 3px white;
    width: 100px;
    height: 100px;
    object-fit: cover;
    border-radius: 50%;
}



/* servicio */

.about-services{
    background-color: #F2F2F2;
}

.servicio-contenido{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 80px;
}

.servicio-individual img{
    width: 90%;
}

.servicio-individual h3{
    margin: 10px 0;
    text-align: center;
}

.servicio-individual p{
    word-spacing: 2px;
}



/* footer */

footer{
    background-color: #414141;
    padding: 60px 0 30px 0;
}

.contenedor-footer{
    margin: 0 auto;
    width: 90%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    padding-bottom: 50px;
    border-bottom: solid 1px #CCCCCC;
}   

.contenido-footer h4{
    text-align: center;
    color: white;
    padding-bottom: 5px;
    border-bottom: solid 3px #AF20D3;
    margin-bottom: 10px;
}

.contenido-footer p{
    font-weight: 400;
    text-align: center; 
    color: #CCCCCC;
}

.titulo-final{
    text-align: center;
    padding-top: 25px;
    color: #9E9797;
}
